.navbar-logo .logo-img-dark,
.footer-logo .logo-img-dark {
  display: none;
}
body.night {
  background: #171514;
}
.night .hljs {
  display: block;
  overflow-x: auto;
  color: #abb2bf;
  background: #373737;
}
.night .hljs-comment,
.night .hljs-quote {
  color: #5c6370;
  font-style: italic;
}
.night .hljs-doctag,
.night .hljs-keyword,
.night .hljs-formula {
  color: #c678dd;
}
.night .hljs-section,
.night .hljs-name,
.night .hljs-selector-tag,
.night .hljs-deletion,
.night .hljs-subst {
  color: #e06c75;
}
.night .hljs-literal {
  color: #56b6c2;
}
.night .hljs-string,
.night .hljs-regexp,
.night .hljs-addition,
.night .hljs-attribute,
.night .hljs-meta-string {
  color: #98c379;
}
.night .hljs-built_in,
.night .hljs-class .hljs-title {
  color: #e6c07b;
}
.night .hljs-attr,
.night .hljs-variable,
.night .hljs-template-variable,
.night .hljs-type,
.night .hljs-selector-class,
.night .hljs-selector-attr,
.night .hljs-selector-pseudo,
.night .hljs-number {
  color: #d19a66;
}
.night .hljs-symbol,
.night .hljs-bullet,
.night .hljs-link,
.night .hljs-meta,
.night .hljs-selector-id,
.night .hljs-title {
  color: #61aeee;
}
.night .hljs-emphasis {
  font-style: italic;
}
.night .hljs-strong {
  font-weight: bold;
}
.night .hljs-link {
  text-decoration: underline;
}
.night figure.highlight figcaption,
.night figure.highlight .gutter {
  background: #424242;
}
.night .content code {
  color: #e1ca72;
  background: #373737;
}
.night #night-nav #night-icon:before {
  content: '\f0eb';
}
.night img {
  filter: brightness(0.8);
  -webkit-filter: brightness(0.8);
}
.night .donate,
.night .weixin img,
.night .social-share .icon-wechat .wechat-qrcode {
  filter: brightness(0.9);
  -webkit-filter: brightness(0.9);
}
.night .navbar-logo img,
.night .footer-logo img,
.night .lg-outer.lg-use-transition-for-zoom .lg-item.lg-complete.lg-zoomable .lg-img-wrap img,
.night .social-share .icon-wechat .wechat-qrcode .qrcode img,
.night .donate img {
  filter: none;
  -webkit-filter: none;
}
.night .night-card-overflow {
  overflow: hidden;
}
.night .navbar-logo .logo-img,
.night .footer-logo .logo-img {
  display: none;
}
.night .navbar-logo .logo-img-dark,
.night .footer-logo .logo-img-dark {
  display: inline-block;
}
.night .navbar-main .navbar-menu .navbar-item:hover {
  color: #609dff;
  background-color: #373737;
}
.night .navbar-main .navbar-menu .navbar-item.is-active {
  color: #609dff !important;
}
.night .navbar-main .navbar-menu .navbar-item.is-active:hover {
  background-color: transparent;
}
@media screen and (max-width: 1087px) {
  .night .navbar-menu {
    background-color: #232222;
  }
}
.night .navbar,
.night .card {
  background-color: #232222;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}
.night .footer {
  background: #232222;
}
.night .footer .field .button {
  background: transparent !important;
}
.night .button.is-white:focus:not(:active),
.night .button.is-white.is-focused:not(:active) {
  box-shadow: none;
}
.night .card.card-transparent {
  background: transparent;
  box-shadow: none;
}
.night .has-hover:hover {
  box-shadow: 0 6px 15px rgba(0,0,0,0.5);
}
.night .input,
.night .textarea {
  background-color: #424242;
  border-color: #373737;
}
.night .button.is-light {
  background-color: #373737;
  color: #b0b0b0;
}
.night .button.is-light:hover,
.night .button.is-light.is-hovered {
  background-color: #424242;
}
.night .button.is-light:active,
.night .button.is-light.is-active {
  background-color: #ffdd57;
}
.night .button.is-white {
  background-color: transparent;
}
.night .button.is-white:hover {
  background-color: #373737;
}
.night .pagination .pagination-next,
.night .pagination .pagination-previous,
.night .pagination-link:not(.is-current) {
  color: #dadada;
  background-color: #232222;
}
.night .pagination-link.is-current:hover {
  color: #fff;
}
.night body,
.night .title,
.night .footer,
.night .card,
.night .navbar-item,
.night .navbar-link,
.night .menu-list a,
.night .input,
.night .textarea,
.night .button.is-white,
.night .v * {
  color: #b0b0b0;
}
.night .has-text-grey-dark {
  color: #b0b0b0 !important;
}
.night strong,
.night .has-text-grey-darker,
.night .content h1,
.night .content h2,
.night .content h3,
.night .content h4,
.night .content h5,
.night .content h6 {
  color: #dadada !important;
}
.night .has-text-black-ter,
.night .has-link-black-ter {
  color: #eaeaea !important;
}
.night .menu-label,
.night .has-text-grey,
.night .has-link-grey {
  color: #808080 !important;
}
.night .has-link-grey:hover,
.night .has-link-black-ter:hover {
  color: #609dff !important;
}
.night a {
  color: #609dff;
}
.night a:hover {
  color: #dadada;
}
.night .content blockquote {
  background-color: #373737;
  border-color: #424242;
}
.night .content table thead td,
.night .content table thead th {
  color: #b0b0b0;
}
.night .content table td,
.night .content table th {
  border-color: #424242;
}
.night hr {
  background-color: #373737;
}
.night .v .vwrap,
.night .v .vwrap .vheader .vinput {
  border-color: #373737;
}
.night .v .vwrap .vheader .vinput:focus {
  border-color: #424242;
}
.night .v .vbtn {
  color: #b0b0b0;
  background-color: #373737;
  border-color: #373737;
}
.night .v .vbtn:hover {
  background-color: #424242;
}
.night .v .vbtn:active {
  background-color: #ffdd57;
}
.night .v .vlist .vcard .vhead .vsys {
  background-color: #373737;
}
.night .v a:hover,
.night .v .vlist .vcard .vh .vmeta .vat {
  color: #fff;
}
.night .v .vlist .vcard .vcontent.expand:before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(37,41,54,0)), to(#252936));
  background: linear-gradient(180deg, rgba(37,41,54,0), #252936);
}
.night .v .vlist .vcard .vcontent.expand:after {
  background: #252936;
}
.night .v .vlist .vcard .vh,
.night .v .vlist .vcard .vquote {
  border-color: #424242;
}
.night .has-link-grey:after,
.night .has-link-black-ter:after {
  background-color: #b0b0b0 !important;
}
.night .tag:not(body) {
  color: #b0b0b0;
  background-color: #373737;
}
.night .tag.is-grey {
  background-color: #424242;
}
.night .menu-list a:hover {
  background-color: #373737;
}
.night .menu-list li ul {
  border-color: #373737;
}
.night .breadcrumb li.is-active a {
  color: #b0b0b0;
}
.night .timeline .media:last-child:after {
  background-color: #232222;
}
.night .timeline {
  border-color: #424242;
}
.night .timeline .media:before {
  background-color: #424242;
}
.night .tag:not(body).is-link {
  background-color: #3273dc;
  color: #fff;
}
.night .searchbox .searchbox-input-wrapper .searchbox-input {
  color: #b0b0b0;
  background-color: #232222;
  border-color: #424242;
}
.night .searchbox .searchbox-input-wrapper .searchbox-close {
  color: #b0b0b0;
}
.night .ins-section-container {
  background-color: #373737;
}
.night .ins-section .ins-section-header {
  color: #808080;
  border-color: #424242;
}
.night .ins-section .ins-search-item {
  color: #b0b0b0;
}
.night .ins-section .ins-search-item .ins-search-preview {
  color: #808080;
}
.night .ins-section .ins-slug {
  color: #808080;
}
@media screen and (max-width: 559px), screen and (max-height: 479px) {
  .night .searchbox .searchbox-container {
    background: #373737;
  }
}
.night ::selection {
  color: #fff;
  background-color: rgba(52,109,167,0.8);
}
.night ::-moz-selection {
  color: #fff;
  background-color: rgba(52,109,167,0.8);
}
.night input:-webkit-autofill {
  -webkit-text-fill-color: #b0b0b0 !important;
  box-shadow: 0 0 0px 1000px #373737 inset;
}
.night .jssorb051 .i .b {
  fill: #eaeaea;
}
.night .carousel-arrowleft,
.night .carousel-arrowright {
  color: #eaeaea;
}
.night .message.is-warning {
  background-color: #1e1f26;
}
.night .message.is-warning .message-header {
  background-color: #ccb146;
}
.night .notification.is-warning {
  background-color: #ccb146;
  color: #242424;
}
.night .delete::before,
.night .delete::after {
  background-color: #eaeaea;
}
.night .aplayer {
  background: #373737;
}
.night .aplayer .aplayer-pic {
  filter: brightness(0.8);
  -webkit-filter: brightness(0.8);
}
.night .aplayer .aplayer-info .aplayer-music .aplayer-author,
.night .aplayer .aplayer-info .aplayer-controller .aplayer-time,
.night .aplayer .aplayer-lrc p,
.night .aplayer .aplayer-list ol li .aplayer-list-author,
.night .aplayer .aplayer-list ol li .aplayer-list-index {
  color: #808080;
}
.night .aplayer .aplayer-lrc:before {
  background: transparent;
}
.night .aplayer .aplayer-lrc:after {
  background: linear-gradient(180deg, rgba(55,55,55,0) 0, rgba(55,55,55,0.8));
}
.night .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar {
  background: #5a5a5a;
}
.night .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-loaded {
  background: #7a7a7a;
}
.night .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played {
  background: #dadada !important;
}
.night .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played .aplayer-thumb {
  background: #dadada !important;
}
.night .aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon path {
  fill: #808080;
}
.night .aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon:hover path {
  fill: #fff;
}
.night .aplayer .aplayer-info .aplayer-controller .aplayer-volume-wrap .aplayer-volume-bar-wrap .aplayer-volume-bar {
  background: #7a7a7a;
}
.night .aplayer .aplayer-info .aplayer-controller .aplayer-volume-wrap .aplayer-volume-bar-wrap .aplayer-volume-bar .aplayer-volume {
  background: #dadada !important;
}
.night .aplayer.aplayer-withlist .aplayer-info {
  border-bottom-color: #424242;
}
.night .aplayer .aplayer-list ol li {
  border-top-color: #424242;
}
.night .aplayer .aplayer-list ol li:hover {
  background: #424242;
}
.night .aplayer .aplayer-list ol li.aplayer-list-light {
  background: #424242;
}
.night .aplayer .aplayer-list ol li.aplayer-list-light .aplayer-list-cur {
  background-color: #dadada !important;
}
.night .aplayer .aplayer-list ol::-webkit-scrollbar-thumb {
  background-color: #585858;
}
.night .aplayer .aplayer-list ol::-webkit-scrollbar-thumb:hover {
  background-color: #909090;
}
.night .hbe-input-container input {
  color: #b0b0b0;
  background: #232222;
  border-bottom-color: #424242;
}
.night .hbe-input-container input:focus {
  border-bottom-color: #232222;
}
.night .hbe-input-container input:focus + label {
  color: #b0b0b0;
}
.night .hbe-input-container label {
  color: #b0b0b0;
}
.night [class*="hint"] {
  color: #609dff;
}
.night .social-share .icon-wechat .wechat-qrcode,
.night .weixin img.weixin-qrcode,
.night .donate img.qrcode,
.night [class*="hint"]:after {
  box-shadow: 0 6px 15px #000 !important;
}
.night .dropdown-content {
  background-color: #232222;
  box-shadow: 0 9px 10px rgba(0,0,0,0.5);
}
.night .dropdown-item {
  color: #b0b0b0;
}
.night .dropdown-item:hover {
  background-color: #373737;
}
.night .dropdown-item:hover.is-active {
  background-color: #3273dc;
  color: #fff;
}
